<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
  <div class="section" data-anchor="home" id="homeid" [ngStyle]="{'opacity':this.status === 'home' ? '1' :this.status != 'home' ? '1' : '0.3' }"> 
    <div class="menuarea">
      <img src="./assets/images/demo_03.jpg" alt="">
      <p>Expression <br> 
        <span class="ofclass" > of </span><span class="youclass" >you.</span></p>
      <a href="#product1" style="bottom:17%;"><img style="margin: 0px 6%; cursor: pointer;" src="./assets/images/ispira.jpg" alt=""></a>
      <a href="#product2" style="bottom:10%;"><img style="margin: 0px 6%; cursor: pointer;" src="./assets/images/ecoqua_orig.jpg" alt=""></a>
      <a href="#product3" style="bottom:3%;"><img style="margin: 0px 6%; cursor: pointer;" src="./assets/images/ecoqua_plus.jpg" alt=""></a>
    </div>
    <a href="#product1"><div id="foto1homearea" class="foto1homearea" (mouseenter)=swappa($event) (mouseleave)=swappaback() [ngStyle]="{'width':this.test === 'foto1homearea' ? '55%' :this.test === 'fuori' ? '25%' : '10%' }"></div></a>
    <a href="#product2"><div id="foto2homearea" class="foto2homearea" (mouseenter)=swappa($event) (mouseleave)=swappaback() [ngStyle]="{'width':this.test === 'foto2homearea' ? '55%' :this.test === 'fuori' ? '25%' : '10%' }"></div></a>
    <a href="#product3"><div id="foto3homearea" class="foto3homearea" (mouseenter)=swappa($event) (mouseleave)=swappaback() [ngStyle]="{'width':this.test === 'foto3homearea' ? '55%' :this.test === 'fuori' ? '25%' : '10%' }"></div></a>
    
  </div>
  
<div class="section" data-anchor="product1" id="product1id" [ngStyle]="{'opacity':this.status === 'product1' ? '1' : '0.3' }">
  <div class="textarea">
    <img src="./assets/images/ispira.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ac enim et tempor. Integer suscipit purus sit amet dolor consequat lacinia. Etiam vitae aliquet mi. Nullam ut mauris eu nulla consequat aliquet. Quisque vulputate, justo sed iaculis ullamcorper, neque ligula hendrerit leo, id volutpat lectus sem eu ante. Ut mollis dolor eget imperdiet tincidunt.</p>
  </div>
  <div id="photo1" class="photoarea">
  </div>
</div>

<div class="section" data-anchor="product2" id="product2id" [ngStyle]="{'opacity':this.status === 'product2' ? '1' : '0.3' }">
  <div id="photo2" class="photoarea"></div>
  <div class="textarea">
    <img src="./assets/images/ecoqua_orig.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ac enim et tempor. Integer suscipit purus sit amet dolor consequat lacinia. Etiam vitae aliquet mi. Nullam ut mauris eu nulla consequat aliquet. Quisque vulputate, justo sed iaculis ullamcorper, neque ligula hendrerit leo, id volutpat lectus sem eu ante. Ut mollis dolor eget imperdiet tincidunt.</p>
  </div>
  
</div>

<div class="section" data-anchor="product3" id="product3id" [ngStyle]="{'opacity':this.status === 'product3' ? '1' : '0.3' }">
  <div class="textarea">
    <img src="./assets/images/ecoqua_plus.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ac enim et tempor. Integer suscipit purus sit amet dolor consequat lacinia. Etiam vitae aliquet mi. Nullam ut mauris eu nulla consequat aliquet. Quisque vulputate, justo sed iaculis ullamcorper, neque ligula hendrerit leo, id volutpat lectus sem eu ante. Ut mollis dolor eget imperdiet tincidunt.</p>
  </div>
  <div id="photo3" class="photoarea">
  </div>
</div>

<div class="section" data-anchor="footer" id="footerid" [ngStyle]="{'opacity':this.status === 'footer' ? '1' : '0.3' }">
  <div class="footerTXTsx">
    <p class="fTXTmargsx">
     <span style="font-size: 1.8em;"> Share </span><br>
      Lorem ipsum sit amet, consectetur adipiscing elit cras viverra tincidunt.
     <br><br>
     <img src="./assets/images/fb.jpg" alt="" >
    <img src="./assets/images/linkedin.jpg" alt="" >
    <img src="./assets/images/pinterest.jpg" alt="" >
    <img src="./assets/images/twitter.jpg" alt="" >
  </p>
  
    
  
  </div>
  <div class="footerTXTdx">
    <p class="fTXTmargdx">
      <span style="font-size: 1.8em;">Visit</span> <br>
      Lorem ipsum sit amet, consectetur adipiscing elit cras viverra tincidunt.
      <br><br>
      <img src="./assets/images/fabrianocom.jpg" alt="" >
    </p>
    
    
  </div>
</div>
</div>